@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    --main-color: #1c4194;
    --second-color: #DEE7FF;
}

body {
    font-family: "Poppins", sans-serif;
    color: var(--second-color);
    background-image: url("https://img.freepik.com/vecteurs-premium/arriere-plan-bleu-demi-ton-vide-vecteur-gradient_901408-26569.jpg?semt=ais_hybrid&w=740&q=80");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

header {
    padding: 2rem;
    background-color: var(--main-color);
    opacity: 0.7;
    border-radius: 2rem;
    text-align: center;
    margin: 2rem;
}

main {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    background-color: var(--main-color);
    height: 60%;
    border-radius: 2rem;
}

article {
    text-align: center;
    padding: 5rem;
    background-color: var(--main-color);
    border-radius: 2rem;
    width: 60%;
    height: 100%;
}

nav {
    padding: 5rem;
    background-color: var(--main-color);
    border-radius: 2rem;
    width: 40%;
    height: 100%;
}

nav li a {
    color: var(--second-color);
    text-decoration: none;
}

footer {
    position: fixed;
    bottom: 2rem;
    padding: 2rem;
    width: 100%;
}
