@import url('https://intelcorp.scene7.com/is/image/intelcorp/language-icon-lvl-2-abstract-bg:1920-1080?wid=864&hei=486&fmt=webp-alpha');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  --main-color: #1c4194;
  --second-color: #DEE7FF;
}

body {
  font-family: "Poppins", sans-serif;
  color: var(--second-color);
  background-color: var(--main-color);
  display: flex;  
  align-items: center;
  justify-content: center;
  flex-direction: column;
   
}
header{
   padding: 2rem ;
   background-color: var(--main-color);
   opacity: 0.7;
   border-radius: 2rem;
   text-align: center;
}
article{
  text-align: center;
   margin: 2rem;
  padding:3rem;
  font-size:22px;
}

img {
  border-radius: 2rem;
  width:600px;
}
nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: var(--main-color);
    opacity: 0.7;
    padding: 2rem;
   
}
nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

nav ul li {
    list-style-type: none;
    margin: 0 1rem 0 1rem;
}

nav li a {
    color: var(--second-color);
    text-decoration: none;
    transition: 500ms ease;
