@import url('https://intelcorp.scene7.com/is/image/intelcorp/language-icon-lvl-2-abstract-bg:1920-1080?wid=864&hei=486&fmt=webp-alpha');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  --main-color: #1c4194;
  --second-color: #DEE7FF;
}

body {
  font-family: "Poppins", sans-serif;
  color: var(--second-color);
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 8px;
}
header{
   grid-column: span 5 / span 5;
}
article{
   grid-column: span 2 / span 2;
    grid-row: span 4 / span 4;
    grid-row-start: 2;
}
img{
   grid-column: span 3 / span 3;
    grid-row: span 4 / span 4;
    grid-column-start: 3;
    grid-row-start: 2;
    width:100%;
}
