@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    --main-color: #1c4194;
    --second-color: #DEE7FF;
}

body {
  background-color: var(--main-color);
  font-family: 'Poppins', sans-serif;
  color: var(--second-color);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

header {
  padding: 2rem;
  border-radius: 2rem;
  opacity: 0.7;
  margin: 2rem;
}

td, th {
  padding: 1rem;
  border: 2px black solid;
  border-radius: 0.3rem;
  background-color:#6B82B5;
  color:black;

}

td {
    width: 200px;
}

img {
    width: 180px;
}
