@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    --main-color: #1c4194;
    --second-color: #DEE7FF;
}
body {
    font-family: "Poppins", sans-serif;
    color: var(--second-color);
    background-color: var(--main-color);
    padding: 2rem;
    gap: 1.5rem;
}

h1, h3 {
    text-align: center;
}

button {
    border: none;
    padding: 1rem 1.3rem;
    box-shadow: 8px 8px 15px whitesmoke;
    border-radius: 2rem;
    margin: 2rem;
}

.response {
    position: fixed;
    top: 50%;
    left: 50%;
    transition: transform(-50%, -50%);
}
